<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdpu.mybatisdemo.dao.PersonMapper">
    <select id="queryPersonById" resultType="person">
        select * from person where id=#{id}
    </select>
    <select id="queryPersonWithCard" resultMap="queryPersonWithCard">
        select p.*,i.number from person p,idcard i
        where p.card=i.id and p.id=#{id}
    </select>
    <resultMap id="queryPersonWithCard" type="person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="card" javaType="idCard">
            <id property="id"  column="cardId"></id>
            <result property="number" column="number"></result>
        </association>
    </resultMap>

</mapper>
